# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build
dist/
out/
release/

# macOS
.DS_Store

# VS Code / IDEs
.vscode/
.idea/

# System files
Thumbs.db
*.log
node_modules/
